.banner{
    font-familY: pacifico, cursive;
    position: relative;
    
    &__img{
        background: url('../img/banner.jpg') no-repeat center / cover;
        background-image: url('../img/banner.jpg');
        height: calc(100vh - 150px);
        width: 100%;
        
    }

    &__titulo{
        color: $white;
        font-size: 5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        text-shadow: 0 4px 4px $light-black;
        text-align: center;
        transform: translate(-50%, -50%);
        width: 100%;

        @include forPhone-only{
            font-size: 4rem;
        }
    }
}