footer{
    background: $green;
    height: 200px;
}

.footer__social{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    
    .redeSocial{
        &__imagem{
            border-radius: 100%;
            background: no-repeat center / cover;
            height: 50px;
            margin: 0 20px;
            width: 50px;
    
            &--instagram{
                background-image: url('https://cdn.icon-icons.com/icons2/2248/PNG/512/instagram_icon_138461.png');
            }
    
            &--facebook{
                background-image: url('https://i.pinimg.com/originals/d5/e1/cf/d5e1cf0a96bad7c64e868128e6190c2f.png');
            }
            
            &--linkedin{
                background-image: url('https://cdn-icons-png.flaticon.com/512/61/61109.png');
            }
        }
    }
}

.footer__conteudo{
    text-align: center;
    margin-top: 30px;

    .conteudo{
        &__texto{
            font-weight: 600;
            font-size: 20px;
        }
    }
}

