.pessoas{
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
    @include forPhone-only{
        flex-direction: column;
        justify-content: center;
    }
}

.pessoa{
    display: flex;
    flex-direction: column;
    @include forPhone-only{
        justify-content: center;
    }
    
    &__nome{
        color: $red-wine;
        font-family: Pacifico, cursive;
        font-size: 2rem;
        margin: 1rem 0;
    }

    &__funcao{
        color: $light-gray;
        font-size: 1.25rem;
        text-transform: lowercase;
    }

    &__imagem{
        border-radius: 100%;
        background: no-repeat center / cover;
        height: 300px;
        margin: 0 auto;
        width: 300px;
        @include forPhone-only{
            width: 200px;
            height: 200px;
            margin: 10px auto;
        }

        &--roberta{
            background-image: url('../img/pessoas/roberta.jpg');
        }

        &--marcela{
            background-image: url('../img/pessoas/marcela.jpg');
        }
        
        &--andreia{
            background-image: url('../img/pessoas/andreia.jpg');
        }
    }
}