.sobre{
    text-align: center;
    padding: 2.5rem;

    &__titulo{
        color: $red-wine;
        font-family: Pacifico, cursive;
        font-size: 2.9rem;
        line-height: 5.3rem;

        @include forPhone-only{
            font-size: 2.5rem;
            line-height: 3rem;
            padding-bottom: 15px;
        }
    }

    &__descricao{
        color:$light-gray;
        font-size: 1.3rem;
        font-weight: 100;
    }
}